

@media (max-width:501px)  {
    .main-layout {
        flex-direction: column !important;
    }

    .conversation-section {
        height: 75vh;
    }
}

@media (min-width:500px)  {
    .main-layout {
        height: 90vh;
    }
}

.clickable-card:hover {
    box-shadow: 0 0 15px 0 rgba(150,150,150,.4);
}